@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Inicio header*/
a {
  color: grey;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  font-size: 20px;
}

header {
  background-color: #740000;
  position: sticky;
  top: 0;
  z-index: 2;
}
header ul ul li {
  width: 100%;
  background-color: #740000;
}

body {
  background-color: black;
}

/*Fin header*/
.Galeria-texto-fotos {
  display: flex;
  background-color: #740000;
  justify-content: center;
}
.Galeria-texto-fotos .Galeria-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0;
  padding-left: 0;
}

.carousel-inner {
  height: 830px;
}

img {
  width: 100%;
}

h1 {
  font-family: "Staatliches", cursive;
  color: black;
}

.tituloBlog {
  color: white;
}

.video {
  display: flex;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
  background-color: black;
  justify-content: center;
}

iframe {
  width: 720px;
  height: 460px;
}

.Descripcion, .blog, .items {
  font-family: "Staatliches", cursive;
  color: grey;
}

.Explicacion {
  display: flex;
  align-items: center;
  color: white;
}

.quienesSomos {
  color: white;
  text-align: center;
}

.Nosotros {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 80px;
  width: 100%;
  background-image: url(../images/background.webp);
}

.textoNosotros {
  color: black;
  font-family: "Staatliches", cursive;
  padding: 100px;
  height: 600px;
}

.textoNosotros:hover {
  transform: translateY(-50px) scale(1.1);
  transition: all 3s;
}

@media only screen and (max-width: 320px) {
  .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1780px) {
  .carousel-inner {
    height: auto;
  }
}
/*Seccion blog*/
.containerFotos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 40px;
}

.blog {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}

.contPreguntas {
  width: 700px;
  margin: auto;
  font-size: 20px;
}

.pregunta, .respuesta {
  text-align: left;
  color: white;
}

.pregunta {
  background-color: #303030;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.pregunta:hover .respuesta {
  max-height: 500px;
  transition: all 2s;
}

.respuesta {
  background-color: #303030;
  margin-bottom: 5px;
  margin-top: 5px;
  max-height: 0px;
  overflow: hidden;
}

.pregunta p, .respuesta p {
  padding-left: 20px;
}

.respuesta hr {
  border: 1px solid #777777;
}

.contenedorLinks {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

@media only screen and (max-width: 320px) {
  .preguntasF {
    padding: 20px;
  }

  .contPreguntas {
    width: auto;
  }

  body {
    background-color: black;
  }

  .containerFotos {
    display: none;
  }

  .textoNosotros {
    padding: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .preguntasF {
    padding: 20px;
  }

  .contPreguntas {
    width: auto;
  }

  body {
    background-color: black;
  }

  .containerFotos {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  body {
    background-color: black;
  }
}
/*Fin seccion blog*/
/*seccion contacto*/
.contactanos {
  background-image: url(../images/3.webp);
  height: 900px;
}

.contacto-descripcion {
  padding: 30px;
}
.contacto-descripcion .contanos {
  color: white;
}

.formulario {
  background-color: white;
  opacity: 80%;
}

.tituloContacto {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.tituloContacto .contacto {
  color: maroon;
  font-family: "Staatliches", cursive;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #740000;
}

/*fin seccion contacto*/
/*Footer*/
.foot {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: white;
}

.display2 {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

/*Fin footer*/

/*# sourceMappingURL=style.css.map */
