@import '../base/displays';
@import '../base/listaColores';
@import '../base/mixins';
/*Seccion blog*/
.containerFotos {
    display: $displays;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 40px;
 }
 .blog {
    display: $displays;
    grid-template-columns: auto;
    @include justify(space-around);
 }
 .contPreguntas {
     width: 700px;
     margin: auto;
     font-size: 20px;
 }
 .pregunta , .respuesta {
     text-align: left;
     color: white;
 }
 .pregunta {
     background-color: #303030;
     padding: 10px;
     margin-bottom: 5px;
     margin-top: 5px;
     cursor: pointer;
  }
  .pregunta:hover .respuesta {
    max-height: 500px;
    transition: all 2s;}
 .respuesta {
    background-color: #303030;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 0px;
    overflow: hidden;
}

 .pregunta p, .respuesta p {
     padding-left: 20px;
 }
 .respuesta hr{
     border: 1px solid #777777;
 }
 .contenedorLinks {
    display: $displays;
    grid-template-columns: auto auto auto;
    justify-content: space-around;}

    @media only screen and (max-width:320px) {
      .preguntasF {
        padding: 20px;
      }
      .contPreguntas {
          width: auto;
      }
      body {background-color: nth( $listaColores,4 )};
      .containerFotos {
          display: none;}
   
      .textoNosotros {
       padding: 30px;}
   
   }
 
  @media only screen and (min-width:321px) and (max-width:768px){
    .preguntasF {
        padding: 20px;
      }

      .contPreguntas{
          width: auto;
      }
      body {background-color:nth( $listaColores,4 );}
      .containerFotos {
          display: none;
      }
      }
      @media only screen and (min-width:769px) {
         body {background-color:nth( $listaColores,4 );}
 
         }
 /*Fin seccion blog*/
  
  



